[submodule "apps/app0"]
	path = apps/app0
	url = https://github.com/dbozik/app0.git
[submodule "apps/app1"]
	path = apps/app1
	url = https://github.com/dbozik/app1.git
[submodule "libs/lib0"]
	path = libs/lib0
	url = https://github.com/dbozik/lib0.git
